<!--告诉浏览器我们使用的标准 html-->
<!DOCTYPE html>
<html lang="en">
<head>
<!--    meta描述性标签，用来描述网站的一些信息-->
<!--    一般用来做SEO-->
    <meta charset="UTF-8">
    <meta name="Keywords" content="first test on HTML">
    <title>Data Acquisition</title>
    <style> .rr{float:left;width:50%;}</style>
</head>
<body>
<div style="width:900px;height:60px">
    <div class="rr"> welcome to my Data Acquisition Page  </div>
    <div style="clear:both;"></div>
</div>
<img src="{{ url_for('static',filename='img/main.jpg')}}" alt="">
<hr>
<ul>
    <li><a href="/table">查看表格</a></li>
</ul>
</body>
</html>