{% extends "base.html" %}

{% block title %}首页{% endblock %}


{% block page_content %}
<li><font color=red>request_way = {{request_way}}</font></li>
    
    <table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>书名</th>
        <th>作者</th>
        <th>ISBN</th>
        <th>简介</th>
    </tr>
        {% for i in u %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
            </tr>
    {% endfor %}
    </table>

{% endblock %}